@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: roboto;
}

@media print {
  .forms,
  h2 {
    display: none;
  }

  .preview {
    border: none !important;
  }
  main {
    padding: 0 !important;
  }
  .cv-display {
    display: block !important;
  }
}
